
{% extends 'base.html.twig' %}
{% block title %}Profile{% endblock %}
{% block content %}
    <body className='snippet-body'>                            
                                
                                <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
     
        <div class="col-md-3 border-right">
        {{ form_start(form,{'attr' : {'novalidate' : 'novalidate'}}) }}
       
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              {% if form.photo_personel.vars.value %}
               
            <img class="rounded-circle mt-5" width="150px" src="{{ form.photo_personel.vars.value | replace({'\\': '/'}) | raw }}" alt="Photo personel"></div><br>
            <label for='qrcode'>Pour plus d'informations sur votre compte scanner ce qrcode</label>
            <img src={{qrCode}} alt='qrCode ici ' name='qrcode'>
      {% endif %}  
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile </h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Nom</label>{{ form_widget(form.nom,{'attr':{class:'form-control'}}) }}
                     <br>
					<div class="text-danger">{{ form_errors(form.nom) }}</div>
					<br></div>
                    <div class="col-md-6"><label class="labels">Prénom</label>{{ form_widget(form.prenom    ,{'attr':{class:'form-control'}}) }}
                     <br>
					<div class="text-danger">{{ form_errors(form.prenom) }}</div>
					<br></div>
                   
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Numéro de téléphone</label>{{ form_widget(form.num_tel,{'attr':{class:'form-control'}}) }}
                      <br>
					<div class="text-danger">{{ form_errors(form.num_tel) }}</div>
					<br></div>
                  
                    <div class="col-md-12"><label class="labels">Ville</label>{{ form_widget(form.ville,{'attr':{class:'form-control'}}) }}</div>
                    <div class="col-md-12"><label class="labels">email</label>{{ form_widget(form.login,{'attr':{class:'form-control'}}) }}
                    <br>
				<div class="text-danger">	{{ form_errors(form.login) }}</div>
					<br></div>
                    
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Mot de passe</label>{{ form_widget(form.mdp,{'attr':{class:'form-control'}}) }}
                     <br>
					{{ form_errors(form.mdp) }}
					<br></div>
                   
                    <div class="col-md-6"><label class="labels">Nouveau mot de passe</label>{{ form_widget(form.newmdp,{'attr':{class:'form-control'}}) }}
                    <br>
					<div class="text-danger">{{ form_errors(form.mdp) }}</div>
					<br></div>
                     <div class="mt-5 text-center"><div class="text-danger">{{message}}</div></div>
                </div>
                <div class="mt-5 text-center">{{ form_widget(form.submit,{'attr':{class:'btn btn-primary profile-button'}}) }}</div>
                 <div class="mt-5 text-center">{{ form_widget(form.delete,{'attr':{class:'btn btn-primary profile-button'}}) }}</div>
            </div>
             
         </div>
         <div class="col-md-4">
        
            <div class="p-3 py-5">
            
         {% if form.photo_permis.vars.value %}
            <img src="{{ form.photo_permis.vars.value | replace({'\\': '/'}) | raw }}" alt="Photo permis">
         {% endif %}   </div>
          <div class="container text-center">
        <div class="row">
 
        </div>
    </div>
{{ form_end(form) }}
    </div>
            
                                </body>
{% endblock %}

