
{% extends 'base.html.twig' %}

{% block booby %}

<div class="col-ml-12">
                        <div class="row">

 <!-- basic form start -->
                              <div class="col-3 mt-5">
                                <div class="card">
                                </div>
                                </div>
                            <div class="col-6 mt-5">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Modifier Moyen Transport</h4>
                                        {{form_start(f,{'attr': {'novalidate': 'novalidate'}} )}}
                                         <div class="form-group">
                                           {{ form_widget(f.type, {'attr': {'class': 'form-control', 'placeholder': ' type'}}) }}
                                         </div>
                                         <div class="form-control-feedback" style="color: red;">
                                            {{ form_errors(f.type) }} 
                                         </div>

                                         <div class="form-group">
                       
                                            {{ form_widget(f.numero_trans, {'attr': {'class': 'form-control', 'placeholder': ' numero transport'}}) }}
                                         </div>
                                            <div class="form-control-feedback" style="color: red;" >
                                                       {{ form_errors(f.numero_trans) }} 
                                                       </div>
                                            
                                            <div class="col-auto my-1">
                                        <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Submit</button>

                                                </div>
                                                   {{ form_end(f) }}
                                    </div>
                                </div>
                            </div>
                    </div>
         </div>
                            <!-- basic form end -->
  <style>
 
.classe-radio {
    display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
}

</style>

{% endblock %}
