{% extends 'base.html.twig' %}

{% block title %}Ajouter un accident{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-5">Ajouter un accident</h1>

       {{ form_start(form) }}
       {{ form_errors(form) }}
      
        <div class="form-group">
            {{ form_label(form.type, 'Type') }}
            {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.type) }}
        </div>

        <div class="form-group">
            {{ form_label(form.date, 'Date') }}
            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.date) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description, 'description') }}
            {{ form_widget(form.description,{'attr': {'class': 'form-control'}})}}
        {{ form_errors(form.description) }}
        </div>

        <div class="form-group">
            {{ form_label(form.lieu, 'Lieu') }}
            {{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.lieu) }}
        </div>

        <div class="form-group">
            {{ form_label(form.id_voiture, 'Voiture') }}
            {{ form_widget(form.id_voiture)}}
        {{ form_errors(form.id_voiture) }}
        </div>
        {{ form_row(form.captcha) }}
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
        
        {{ form_end(form) }}
    </div>

   

{% endblock %}

